@-webkit-keyframes scale {
    0% {
    transform: scale(1)
  }
  50% {
    transform: translate(0px, -30px) scale(1.2) ;
  }
  100% {
    transform: translate(0px, 0px)scale(1);
  }
}
@-moz-keyframes scale {
    0% {
    transform: scale(1)
  }
  50% {
    transform: translate(0px, -30px) scale(1.2) ;
  }
  100% {
    transform: translate(0px, 0px)scale(1);
  }
}
@-ms-keyframes scale {
    0% {
    transform: scale(1)
  }
  50% {
    transform: translate(0px, -30px) scale(1.2) ;
  }
  100% {
    transform: translate(0px, 0px)scale(1);
  }
}
@-o-keyframes scale {
    0% {
    transform: scale(1)
  }
  50% {
    transform: translate(0px, -30px) scale(1.2) ;
  }
  100% {
    transform: translate(0px, 0px)scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1)
  }
  50% {
    transform: translate(0px, -30px) scale(1.2) ;
  }
  100% {
    transform: translate(0px, 0px)scale(1);
  }
}
@-webkit-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@-moz-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@-ms-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@-o-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
