@-webkit-keyframes play {
  from {  background-position: center bottom; }
  to { background-position: top; }
}
@-moz-keyframes play {
  from {  background-position: center bottom; }
  to { background-position: top; }
}
@-ms-keyframes play {
  from {  background-position: center bottom; }
  to { background-position: top; }
}
@-o-keyframes play {
  from {  background-position: center bottom; }
  to { background-position: top; }
}
@keyframes play {
  from {  background-position: center bottom; }
  to { background-position: top; }
}
@-webkit-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@-moz-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@-ms-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@-o-keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
@keyframes pilot {
  from {  background-position:    300px; }
  to { background-position: 600px; }
}
